body {
    display: block;
    margin: 0px;
    background-color: #2C3333;
}

.taskNameHeader {
    height: 32px;
    width: 59.7%;
    margin-left: 9%;
    border-bottom: solid 3px #395B64;
    margin-top: 75px;
    margin-bottom: 8px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #395B64;
}

.estHeader {
    height: 32px;
    width: 9.1%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    border-bottom: solid 3px #395B64;
    margin-top: 75px;
    margin-bottom: 8px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #395B64;
}

.passedHeader {
    height: 32px;
    width: 9.8%;
    margin-right: 9%;
    border-bottom: solid 3px #395B64;
    margin-top: 75px;
    margin-bottom: 8px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #395B64
}

.taskList {
    background-color: #2C3333;
    margin-left: 8.5%;
    margin-right: 8.5%;
    margin-top: 5px;
    clear: both;
}

.taskParent {
    margin-bottom: 9px;
    border-radius: 3px;
    background: #A5C9CA;
}

.taskChild {
    width: 93% !important;
    margin-left: 125px;
    margin-bottom: 9px;
    border-radius: 3px;
    background: #E7F6F2;
}

.dragHandleSelector {
    margin-right: 1%;
}

.taskNameParent {
    width: 69.8%;
    background: #A5C9CA !important;
    border-color: #A5C9CA !important;
    --Textarea-focusedHighlight: #395B64 !important;
    --Textarea-focusedThickness: var(--joy-focus-thickness, 0.5px) !important;
}

.taskNameChild {
    width: 67.3%;
    background: #E7F6F2 !important;
    border-color: #E7F6F2 !important;
    --Textarea-focusedHighlight: #395B64 !important;
    --Textarea-focusedThickness: var(--joy-focus-thickness, 0.5px) !important;
}

.taskEstParent {
    width: 9.6%;
    background: #A5C9CA !important;
    border-color: #A5C9CA !important;
    --Textarea-focusedHighlight: #395B64 !important;
    --Textarea-focusedThickness: var(--joy-focus-thickness, 0.5px) !important;
}

.taskEstParent textarea {
    text-align: center;
}

.taskEstChild {
    width: 9.6%;
    background: #E7F6F2 !important;
    border-color: #E7F6F2 !important;
    --Textarea-focusedHighlight: #395B64 !important;
    --Textarea-focusedThickness: var(--joy-focus-thickness, 0.5px) !important;
}

.taskEstChild textarea {
    text-align: center;
}

.taskPassedParent {
    text-align: center;
    width: 9%;
}

.taskPassedChild {
    text-align: center;
    width: 8.7%;
}

.taskBorder {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.well {
    border: solid;
}

.react-contextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    color: #373a3c;
    font-size: 16px;
    margin: 2px 0 0;
    min-width: 160px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #373a3c;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.15);
    color: #878a8c;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}

.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
    padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu>.react-contextmenu-item {}

.react-contextmenu-item.react-contextmenu-submenu>.react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}

.totalLabel {
    height: 32px;
    width: 4%;
    margin-left: 65.5%;
    margin-top: 30px;
    margin-bottom: 8px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    color: #E7F6F2;
}

.estTotal {
    height: 32px;
    width: 7.5%;
    margin-left: 2%;
    margin-top: 30px;
    margin-bottom: 8px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #E7F6F2;
}

.separator {
    height: 32px;
    width: 1%;
    margin-left: 0.6%;
    margin-right: 0.6%;
    margin-top: 30px;
    margin-bottom: 8px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #E7F6F2
}

.passedTotal {
    height: 32px;
    width: 9.7%;
    margin-right: 9%;
    margin-top: 30px;
    margin-bottom: 8px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #E7F6F2
}